<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Master</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/media.css">
</head>
<body>
    
   <!-- Nav -->
    <nav id="desktop-nav" class="hidden">
        <div class="logo"><a href=""><img src="/static/img/Soccersz.png" alt="Scout Master"></a></div>
        <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="/players">Player</a></li>
            <li><a href="/scout">Scouting</a></li>
        </ul>
    </nav>    

    <!-- hero -->
     <div class="hero">
        <h1 class="title-big">
            Greetings Scouters,
        </h1>
        <p class="description">
            Welcome to Scout Master Football. We are pleased to present this tailored platform designed exclusively for your scouting and player transfer needs. Our objective is to provide you with the most comprehensive and insightful tools for evaluating and acquiring football talent across all age groups.
        </p>
        <p class="description">
            Through this application, you will have access to detailed player profiles, advanced scouting methodologies, and the latest transfer information to support your strategic decisions. We are dedicated to ensuring that your scouting process is as efficient and effective as possible.
        </p>
        <p class="description-bold" >
            Thank you for choosing Scout Master Football. We look forward to assisting you in achieving your scouting and transfer goals.    
        </p>
     </div>

     <!--  -->


    <script src="/static/js/scripts.js"></script>
</body>
</html>