<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Master</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    
   <!-- Nav -->
    <nav id="desktop-nav" class="hidden">
        <div class="logo"><a href=""><img src="/static/img/Soccersz.png" alt="Scout Master"></a></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/players">Player</a></li>
            <li><a href="/scout">Scouting</a></li>
        </ul>
    </nav>    

    <div class="container-player">
        <div class="player-left">
            <td><img src="{{ player.CSVData.Photo }}" alt="{{ player.CSVData.Name }}" class="player-photo" onerror="this.onerror=null;this.src='/static/img/empty-profile.png';"></td>
            <h1>{{ player.CSVData.Name }}</h1>
            <p class="player-nationality">{{ player.CSVData.Nationality }}</p>
            <p class="personal-data">{{ player.CSVData.Age }} y.o. / {{ player.CSVData.Height }} / {{ player.CSVData.Weight }}</p>
            <p class="player-position">Position : {{ player.CSVData.Position }}</p>
            
            <div class="radar-chart">
                <canvas id="radarChart"></canvas>
            </div>

        </div>

        <div class="player-right">
            <h1>Player Statistics</h1>
            <div class="detail-top">
                <p class="player-overall"> Overall rating : <span class="player-text-bg-scale">{{ player.CSVData.Overall }}</span></p>
                <p class="player-potential"> Potential : <span class="player-text-bg-scale">{{ player.CSVData.Potential }}</span></p>
                <p class="value">Value : <span class="player-text-bg-gray">{{ player.CSVData.Value }}</span></p>
                <p class="wage">Wage : <span class="player-text-bg-gray">{{ player.CSVData.Wage }}</span></p>
            </div>
            
            <div class="detail-middle">
                <div class="player-attacking">
                    <h2>Attacking</h2>
                    <p class="short-passing"><span class="player-text-bg-scale">{{ player.CSVData.ShortPassing }}</span> Short Passing</p>
                    <p class="long-passing"><span class="player-text-bg-scale">{{ player.CSVData.LongPassing }}</span> Long Passing</p>
                    <p class="crossing"><span class="player-text-bg-scale">{{ player.CSVData.Crossing }}</span> Crossing</p>
                    <p class="finishing"><span class="player-text-bg-scale">{{ player.CSVData.Finishing }}</span> Finishing</p>
                    <p class="heading-accuracy"><span class="player-text-bg-scale">{{ player.CSVData.HeadingAccuracy }}</span> Heading Accuracy</p>
                    <p class="volleys"><span class="player-text-bg-scale">{{ player.CSVData.Volleys }}</span> Volleys</p>
                </div>
    
                <div class="player-skill">
                    <h2>Skill</h2>
                    <p class="dribbling"><span class="player-text-bg-scale">{{ player.CSVData.Dribbling }}</span> Dribbling</p>
                    <p class="curve"><span class="player-text-bg-scale">{{ player.CSVData.Curve }}</span> Curve</p>
                    <p class="fk-accuracy"><span class="player-text-bg-scale">{{ player.CSVData.FKAccuracy }}</span> FK Accuracy</p>
                    <p class="ball-control"><span class="player-text-bg-scale">{{ player.CSVData.BallControl }}</span> Ball Control</p>
                </div>
    
                <div class="player-movement">
                    <h2>Movement</h2>
                    <p class="acceleration"><span class="player-text-bg-scale">{{ player.CSVData.Acceleration }}</span> Acceleration</p>
                    <p class="sprint-speed"><span class="player-text-bg-scale">{{ player.CSVData.SprintSpeed }}</span> Sprint Speed</p>
                    <p class="agility"><span class="player-text-bg-scale">{{ player.CSVData.Agility }}</span> Agility</p>
                    <p class="reactions"><span class="player-text-bg-scale">{{ player.CSVData.Reactions }}</span> Reactions</p>
                    <p class="balance"><span class="player-text-bg-scale">{{ player.CSVData.Balance }}</span> Balance</p>
                </div>
    
                <div class="player-power">
                    <h2>Power</h2>
                    <p class="shot-power"><span class="player-text-bg-scale">{{ player.CSVData.ShotPower }}</span> Shot Powe</p>
                    <p class="jumping"><span class="player-text-bg-scale">{{ player.CSVData.Jumping }}</span> Jumping</p>
                    <p class="stamina"><span class="player-text-bg-scale">{{ player.CSVData.Stamina }}</span> Stamina</p>
                    <p class="strength"><span class="player-text-bg-scale">{{ player.CSVData.Strength }}</span> Strength</p>
                    <p class="long-shots"><span class="player-text-bg-scale">{{ player.CSVData.LongShots }}</span> Long Shots</p>
                </div>
            </div>

            <div class="detail-bottom">
                <div class="player-mentality">
                    <h2>Mentality</h2>
                    <p class="aggression"><span class="player-text-bg-scale">{{ player.CSVData.Aggression }}</span> Aggression</p>
                    <p class="interceptions"><span class="player-text-bg-scale">{{ player.CSVData.Interceptions }}</span> Interceptions</p>
                    <p class="att-position"><span class="player-text-bg-scale">{{ player.CSVData.Positioning }}</span> Att. Position</p>
                    <p class="vision"><span class="player-text-bg-scale">{{ player.CSVData.Vision }}</span> Vision</p>
                    <p class="penalties"><span class="player-text-bg-scale">{{ player.CSVData.Penalties }}</span> Penalties</p>
                    <p class="composure"><span class="player-text-bg-scale">{{ player.CSVData.Composure }}</span> Composure</p>
                </div>
    
                <div class="player-defending">
                    <h2>Defending</h2>
                    <p class="defensive-awareness"><span class="player-text-bg-scale">{{ player.CSVData.Marking }}</span> Defensive Awareness</p>
                    <p class="standing-tackle"><span class="player-text-bg-scale">{{ player.CSVData.StandingTackle }}</span> Standing Tackle</p>
                    <p class="sliding-tackle"><span class="player-text-bg-scale">{{ player.CSVData.SlidingTackle }}</span> Sliding Tackle</p>
                </div>
    
                <div class="player-goalkeeping">
                    <h2>Goalkeeping</h2>
                    <p class="gk-diving"><span class="player-text-bg-scale">{{ player.CSVData.GKDiving }}</span> GK Diving</p>
                    <p class="gk-handling"><span class="player-text-bg-scale">{{ player.CSVData.GKHandling }}</span> GK Handling</p>
                    <p class="gk-kicking"><span class="player-text-bg-scale">{{ player.CSVData.GKKicking }}</span> GK Kicking</p>
                    <p class="gk-positioning"><span class="player-text-bg-scale">{{ player.CSVData.GKPositioning }}</span> GK Positioning</p>
                    <p class="gk-reflexes"><span class="player-text-bg-scale">{{ player.CSVData.GKReflexes }}</span> GK Reflexes</p>
                </div>
                <div class="player-foot">
                    <h2>Prefered Foot</h2>
                    <p class="prefered-foot">{{ player.CSVData['Preferred Foot'] }}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Determine if the player is a goalkeeper
        const isGoalkeeper = '{{ player.CSVData.Position }}'.includes('GK');

        // Set labels and data based on player type
        const radarLabels = isGoalkeeper 
            ? ['Diving', 'Handling', 'Kicking', 'Positioning', 'Reflexes', 'Reactions']
            : ['DEF', 'DRI', 'PAC', 'PAS', 'PHY', 'SHO'];

        const radarDataValues = isGoalkeeper 
            ? [
                {{ player.RadarData.GKDiving }},
                {{ player.RadarData.GKHandling }},
                {{ player.RadarData.GKKicking }},
                {{ player.RadarData.GKPositioning }},
                {{ player.RadarData.GKReflexes }},
                {{ player.RadarData.Reactions }}
              ]
            : [
                {{ player.RadarData.DEF }},
                {{ player.RadarData.DRI }},
                {{ player.RadarData.PAC }},
                {{ player.RadarData.PAS }},
                {{ player.RadarData.PHY }},
                {{ player.RadarData.SHO }}
              ];

        // Radar chart data
        const radarData = {
            labels: radarLabels,
            datasets: [{
                label: '{{ player.CSVData.Name }}\'s Attributes',
                data: radarDataValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        };

        // Radar chart configuration
        const config = {
            type: 'radar',
            data: radarData,
            options: {
                scale: {
                    ticks: { beginAtZero: true }
                }
            }
        };

        // Render the radar chart
        new Chart(
            document.getElementById('radarChart'),
            config
        );

    
        document.querySelectorAll('.player-text-bg-scale').forEach(function(element) {
            const value = parseInt(element.textContent, 10); // Get the value inside the span
            const green = Math.min(255, Math.floor((value / 100) * 255)); // Calculate green color intensity
            const red = 255 - green; // Calculate red color intensity
            element.style.backgroundColor = `rgb(${red}, ${green}, 0)`; // Set the background color
        });
        
    </script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>