<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Master</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
</head>
<body>
    
   <!-- Nav -->
    <nav id="desktop-nav">
        <div class="logo"><a href=""><img src="/static/img/Soccersz.png" alt="Scout Master"></a></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/players">Player</a></li>
            <li><a href="/scout">Scouting</a></li>
        </ul>
    </nav>    
    

    <div class="scout-hero">
        <p class="big-title">
            Lets find your player!
        </p>
        <p class="scout-description">
            Discover if your favorite players are a perfect fit for the club. Use our scouting tool to analyze player attributes and determine their suitability for key positions based on data-driven models
        </p>
    </div>


    <div class="scouting-info">
        <h1>Scouting Information</h1>
        <div class="id3-info">
            <form action="/scout" method="POST">
                <select name="positions" id="positions">
                    <option value="" disabled {% if not positions %}selected{% endif %}>Position</option>
                    <option value="CAM" {% if positions == 'CAM' %}selected{% endif %}>CAM</option>
                    <option value="CB" {% if positions == 'CB' %}selected{% endif %}>CB</option>
                    <option value="CDM" {% if positions == 'CDM' %}selected{% endif %}>CDM</option>
                    <option value="CM" {% if positions == 'CM' %}selected{% endif %}>CM</option>
                    <option value="GK" {% if positions == 'GK' %}selected{% endif %}>GK</option>
                    <option value="LB" {% if positions == 'LB' %}selected{% endif %}>LB</option>
                    <option value="LW" {% if positions == 'LW' %}selected{% endif %}>LW</option>
                    <option value="RB" {% if positions == 'RB' %}selected{% endif %}>RB</option>
                    <option value="RW" {% if positions == 'RW' %}selected{% endif %}>RW</option>
                    <option value="ST" {% if positions == 'ST' %}selected{% endif %}>ST</option>
                </select>
                <input type="text" name="club" id="club" placeholder="Enter Club" autocomplete="off" value="{{ club }}">
                <div id="club-suggestions" class="suggestions" style="display: none;">
                    <ul id="club-suggestion-list"></ul>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    {% if players %}
    <div class="scouting-result">
        <h2>Top 50 Results</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Club</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td><img src="{{ player.Photo }}" alt="Player Photo" class="player-photo" onerror="this.onerror=null;this.src='/static/img/empty-profile.png';"></td>
                    <td><a href="/player/{{ player.Sofifa_ID }}">{{ player.Name }}</a></td>
                    <td>{{ player.Age }}</td>
                    <td>{{ player.Club }}</td>
                    <td>
                        {% for feature in player.Explanation.Features %}
                            {% if feature.Comparison == '>' %}
                                Player <span class="feature">{{ feature.Feature }}</span> value is <span class="value">{{ feature.Value }}</span> which is greater than the threshold {{ feature.Threshold }}.<br>
                            {% elif feature.Comparison == '<=' %}
                                Player <span class="feature">{{ feature.Feature }}</span> value is <span class="value">{{ feature.Value }}</span> which is less than or equal to the threshold {{ feature.Threshold }}.<br>
                            {% elif feature.Comparison == '<' %}
                                Player <span class="feature">{{ feature.Feature }}</span> value is <span class="value">{{ feature.Value }}</span> which is less than the threshold {{ feature.Threshold }}.<br>
                            {% elif feature.Comparison == '>=' %}
                                Player <span class="feature">{{ feature.Feature }}</span> value is <span class="value">{{ feature.Value }}</span> which is greater than or equal to the threshold {{ feature.Threshold }}.<br>
                            {% endif %}
                        {% endfor %}
                        Because of the player's skill, {{ player.Name }} is fit for the {{ player.Position }} position for the club.
                    </td>                    
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %} 
    

    <script src="/static/js/scripts.js"></script>
</body>
</html>