<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Master</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
   <!-- Nav -->
    <nav id="desktop-nav">
        <div class="logo"><a href=""><img src="/static/img/Soccersz.png" alt="Scout Master"></a></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/players">Player</a></li>
            <li><a href="/scout">Scouting</a></li>
        </ul>
    </nav>    

    <div class="main-container">
        <!-- Left section (Filter) -->
        <div class="left">
            <p class="title-medium">Filter</p>
            <form action="/">
                <label for="positions">Position :</label>
                <select name="positions" id="positions">
                    <option value="" disabled selected>Select a position</option>
                    <option value="CAM">CAM</option>
                    <option value="CB">CB</option>
                    <option value="CDM">CDM</option>
                    <option value="CM">CM</option>
                    <option value="GK">GK</option>
                    <option value="LB">LB</option>
                    <option value="LW">LW</option>
                    <option value="RB">RB</option>
                    <option value="RM">RM</option>
                    <option value="RW">RW</option>
                    <option value="ST">ST</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    
        <!-- Right section (Player List) -->
        <div class="right">
            <table class="table">
                <caption>List of Players</caption>
                <thead>
                    <tr>
                        <th scope="col"></th> <!-- Empty for photo column -->
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Overall</th>
                        <th scope="col">Club</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td><img src="{{ player.Photo }}" alt="" class="player-photo"></td>
                        <td><a href="/player/{{ player.Sofifa_ID }}">{{ player.Name }}</a></td>
                        <td>{{ player.Age }}</td>
                        <td>{{ player.Overall }}</td>
                        <td>{{ player.Club }}</td>
                        <td>{{ player.Position }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- Pagination controls -->
            <div class="pagination">
                {% if current_page > 1 %}
                <a href="?page={{ current_page - 1 }}">&laquo; Previous</a>
                {% endif %}
                {% if current_page < total_pages %}
                <a href="?page={{ current_page + 1 }}">Next &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    

    <script src="/static/js/scripts.js"></script>
</body>
</html>